

<div class="lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6">
        <div class="flex h-16 shrink-0 items-center">
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
        </div>
        <nav class=" flex flex-1 flex-colaccordion-menu space-y-2">
            <div class="accordion-item">
                <button class="accordion-header text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                    🤓 Trainings &amp; Onboardings
                </button>
                <div class="accordion-content hidden ml-4 space-y-2">
                    <ul>
                        <li>
                            <button class="accordion-header text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
          <span class="inline-flex items-center">
            Junior Onboarding
          </span>
                            </button>
                            <div class="accordion-content hidden ml-4 space-y-2">
                                <ul>
                                    <li>
                                        <button class="accordion-header ttext-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <span class="inline-flex items-center">
                  Script Aufgaben
                </span>
                                        </button>
                                        <div class="accordion-content hidden ml-4 space-y-2">
                                            <ul>
                                                <li>
                                                    <a href="academy/trainings-and-onboardings/technical-onboarding/frontend-js-track/vuejs-and-nuxt.md" class="text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                                                        Array Aufgabe
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <button class="accordion-header text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <span class="inline-flex items-center">
                  My Shop
                </span>
                                        </button>
                                        <div class="accordion-content hidden ml-4 space-y-2">
                                            <ul>
                                                <li>
                                                    <button class="accordion-header text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                      <span class="inline-flex items-center">
                        Part 1
                      </span>
                                                    </button>
                                                    <div class="accordion-content hidden ml-4 space-y-2">
                                                        <ul>
                                                            <li class="px-4 py-2">Test 1</li>
                                                            <li class="px-4 py-2">Test 2</li>
                                                            <li class="px-4 py-2">Test 3</li>
                                                            <li class="px-4 py-2">Test 4</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <button class="accordion-header text-gray-700 hover:text-indigo-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                          <span class="inline-flex items-center">
                            Part 2
                          </span>
                                                    </button>
                                                    <div class="accordion-content hidden ml-8">
                                                        <ul>
                                                            <li class="px-4 py-2">Part 2 - Test 1</li>
                                                            <li class="px-4 py-2">Part 2 - Test 2</li>
                                                            <li class="px-4 py-2">Part 2 - Test 3</li>
                                                            <li class="px-4 py-2">Part 2 - Test 4</li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

